body {
    background-color: #fafafa;
}

a {
    color: #1965ff;
}

#titleDiv {
    color: #949494;
}

#settingsDiv {
    background-color: #f2f2f2;
}


.result, .result-last {
    background-color: #f2f2f2;
}