@font-face {
    font-family: "Ebrima";
    src: url(fonts/ebrima.ttf) format("truetype");
}

body {
    font-family: "Ebrima", sans-serif;
    background-color: #fafafa;
    margin: 0;
    display: flex;
}

a {
    color: #1965ff;
}

p {
    margin: 0;
    padding: 0;
}

#mapDiv {
    width: 100%;
    background: black;
    height: 500px;
}

.column {
    display: flex;
    flex-direction: column;
}

#column-left {
    display: inline-flex;
    width: 600px;
    margin-left: 5px;
    text-align: center;
    overflow-y: auto;
    flex-shrink: 0;
}

#column-right {
    display: inline-flex;
    width: 800px;
    flex-grow: 1;

}

#titleDiv {
    font-size: 42pt;
    font-weight: bolder;
    color: #949494;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#content-container {
    width: 100%;
    text-align: center;
    margin: auto;
    height: auto;
    overflow-y: auto;
}

#results-container {
    text-align: center;
    width: 100%;
}

#searchDiv {
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 25px;
    align-content: center;
}

#resultsDiv {
    display: inline-block;
}

.result, .result-last {
    width: 500px;
    /*align-content: center;*/

    background-color: #f2f2f2;
    border: 1px solid #464646;
    border-bottom: none;
    padding: 2px;
    margin: 0 auto;
}

.result-last {
    border-bottom: 1px solid #464646;
}