body {
    font-family: Verdana, sans-serif;
    background-color: ghostwhite;
}

#titleDiv {
    font-size: 36pt;
    font-weight: bold;
    color: gray;
    text-align: center;
}

#content-container {
    border: 1px solid black;
    text-align: center;
    margin: auto;
}

#results-container {
    text-align: center;
    width: 100%;
}

#searchDiv {
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 1px solid blue;
    align-content: center;
}

#resultsDiv {
    display: inline-block;
}

.result {
    width: 500px;
    align-content: center;
    alignment: center;
    background-color: darkgrey;
    border: 2px solid darkslategrey;
    padding: 2px;
    margin: 0 auto;
}